# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# ML artifacts
*.pkl
!Model/churn_model.pkl

# Node
node_modules/
dist/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db